@import "../../styles/partials/_media-queries";

.banknote {
  display: flex;
  background: #f5f5f5;
  margin: 1% 0;
  border-radius: 3px;
  color:#696868;

  &  > div {
    margin: 2% 2.5%;
  }

  &--empty{
    background: #c48e8e !important;
    color:#fff;
  }
}
