@import "../../styles/partials/_media-queries";

.banknote {
  display: flex;
  background:#F0FFF4; //#f5f5f5;
  margin: 2.5% 0;
  border-radius: 3px;
  color:#2F855A;//#696868;
  &:first-child{
    margin: 0 !important;
  }
  &  > div {
    margin: 2% 2.5%;
  }

  &--empty{
    background: #FEEBC8 !important;
    color:#9C4221;
  }
}
